<!DOCTYPE html>
<html class="login-bg">
<head>
	<title>后台管理系统</title>
    
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
    <!-- bootstrap -->
    <link href="/laofuzi/admin/css/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="/laofuzi/admin/css/bootstrap/bootstrap-responsive.css" rel="stylesheet" />
    <link href="/laofuzi/admin/css/bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet" />

    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="/laofuzi/admin/css/layout.css" />
    <link rel="stylesheet" type="text/css" href="/laofuzi/admin/css/elements.css" />
    <link rel="stylesheet" type="text/css" href="/laofuzi/admin/css/icons.css" />

    <!-- libraries -->
    <link rel="stylesheet" type="text/css" href="/laofuzi/admin/css/lib/font-awesome.css" />
    
    <!-- this page specific styles -->
    <link rel="stylesheet" href="/laofuzi/admin/css/compiled/signin.css" type="text/css" media="screen" />

   
   

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body>


    <!-- background switcher -->
   


    <div class="row-fluid login-wrapper">
        <a href="index.html">
            <img class="logo" src="" />
        </a>

        <div class="span4 box">
            <div class="content-wrap">
                <h6>欢迎管理员登录</h6>
                <input id="username" class="span12" type="text" placeholder="用户名" />
                <input id="password" class="span12" type="password" placeholder="密码" />
               
                <div class="remember">
                    <input id="remember-me" type="checkbox" />
                    <label for="remember-me">记住我</label>
                    <font id="message" color="red"></font>
                </div>



                <a id="loginbtn" class="btn-glow primary login" href="javascript:void(0)">登录</a>
            </div>
        </div>

        
    </div>

	<!-- scripts -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/laofuzi/admin/js/bootstrap.min.js"></script>
    <script src="/laofuzi/admin/js/theme.js"></script>
    <script>
        $(document).ready(function() {

            $('#loginbtn').click(function(e){
            $.ajax({
                type:"post",
                dataType:"json",
                contentType : 'application/json',
                url:"http://localhost:8080/laofuzi/user/login",
                data:JSON.stringify({
                    "username":$("#username").val(),
                    "password":$("#password").val()
                }),
                success: function(result){
                    if(!isEmpty(result.ticket)){
                        window.top.location.href='index';
                        console.log(result.ticket);
                    }
                    if(!isEmpty(result.usernameMsg)){
                        console.log(result.usernameMsg);
                        $('#message').html(result.usernameMsg);
                    }
                    if(!isEmpty(result.passwordMsg)){
                        console.log(result.passwordMsg);
                        $('#message').html(result.passwordMsg);
                    }
                }
        });
	    })
            function isEmpty(obj){
                if(typeof obj == "undefined" || obj == null || obj == ""){
                    return true;
                }else{
                    return false;
                }
            }
        })
    </script>
  

</body>
</html>