<!DOCTYPE html>
<html>
<head>
    <title>老夫子</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);
        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link href="/laofuzi/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="/laofuzi/css/style.css" rel='stylesheet' type='text/css' />
    <link href="/laofuzi/css/style1.css" rel='stylesheet' type='text/css' />
    <script type="text/javascript" src="/laofuzi/js/jquery-1.11.1.min.js"></script>
</head>
<body>
<!--网页头部-->
    <header>
        <div class="soubg">
            <div class="sou fl">
                <div id="userinfo" class="fl"></div>
            </div>
            <div id="quanxian" class="fr top_right"></div>
        </div>
        <div class="top">
            <div class="logo">
                <a href="#"><img src="/laofuzi/images/lfz.png" /></a>
            </div>
            <div class="search">
                <input id="search" type="search" value="" placeholder="请输入关键字" class="s_ipt" />
                <input id="submit" type="submit" value="搜索" class="s_btn" onclick="search()" />
                <div id="popular" class="fl"></div>
            </div>
        </div>
    </header>
<!--网页主体内容-->

<section class="center">
    <!--End Menu End-->
    <div class="i_bg">
        <div class="postion">
            <span class="fl">全部 > 珠宝饰品 > 珍珠项链 > </span>
        <span class="n_ch">
            <span class="fl">品牌：<i>珠韵首饰</i></span>
        </span>
        </div>
        <!--Begin 筛选条件 Begin-->
        <div class="content ">
            <table border="0" class="choice">
                <tr>
                    <td width="70">&nbsp; 品牌：</td>
                    <td class="td_a">
                        <a href="#" class="now">珠韵首饰/ZHUYUN JEWELLERY</a>
                        <a href="#">施华洛世奇/Swarovski</a>
                        <a href="#">海瞳</a>
                        <a href="#">周大福/CHOW TAI FOOK</a>
                        <a href="#">京润珍珠</a>
                        <a href="#">佰色传情 /BRI.R</a>
                        <a href="#">迈姿/Maizi</a>
                        <a href="#">Ginasy Jewelry</a>
                        <a href="#">心鑫圆</a>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp; 价格：</td>
                    <td class="td_a">
                        <a href="#">0-199</a>
                        <a href="#" class="now">200-399</a>
                        <a href="#">400-599</a>
                        <a href="#">600-899</a>
                        <a href="#">900-1299</a>
                        <a href="#">1300-1399</a>
                        <a href="#">1400以上</a>
                    </td>
                </tr>
            </table>
        </div>
        <!--End 筛选条件 End-->

        <div class="content ">
            <div class="l_list">
                <div class="list_t">
            	<span class="fl list_or">
                	<a href="#">默认</a>
                    <a href="#">
                        <span class="fl">销量</span>
                        <span class="i_up">销量从低到高显示</span>
                        <span class="i_down">销量从高到低显示</span>
                    </a>
                    <a href="#" id="sortPrice"  class="now">
                        <span class="fl" data-key="0">价格</span>
                        <span class="i_up" data-key="1">价格从低到高显示</span>
                        <span class="i_down" data-key="2">价格从高到低显示</span>
                    </a>
                    <a href="#">新品</a>
                </span>
                    <span class="fr">共发现120件</span>
                </div>
                <div class="list_c">

                    <ul id="catsbook" class="cate_list">
                        <li>
                            <div class="img"><a href="#"><img src="/laofuzi/images/001.jpg"/></a></div>
                            <div class="price">
                                <span>￥198.00</span>
                            </div>
                            <div class="name"><a href="#"> 超强光珍珠吊坠项链</a></div>
                            <div class="carbg">
                                <a href="#" class="ss">收藏</a>
                                <a href="#" class="j_car">加入购物车</a>
                            </div>
                        </li>
                        <li>
                            <div class="img"><a href="#"><img src="/laofuzi/images/001.jpg" width="210" height="185"/></a></div>
                            <div class="price">
                                <span>￥865.00</span>
                            </div>
                            <div class="name"><a href="#"> 节节高升花生款(玫瑰色款)</a></div>
                            <div class="carbg">
                                <a href="#" class="ss">收藏</a>
                                <a href="#" class="j_car">加入购物车</a>
                            </div>
                        </li>
                        <li>
                            <div class="img"><a href="#"><img src="/laofuzi/images/001.jpg" width="210" height="185"/></a></div>
                            <div class="price">
                                <span>￥198.00</span>
                            </div>
                            <div class="name"><a href="#">佰色传情 编织款珍珠项链</a></div>
                            <div class="carbg">
                                <a href="#" class="ss">收藏</a>
                                <a href="#" class="j_car">加入购物车</a>
                            </div>
                        </li>
                        <li>
                            <div class="img"><a href="#"><img src="images/per_12.jpg" width="210" height="185"/></a></div>
                            <div class="price">
                                <span>￥2198.00</span>
                            </div>
                            <div class="name"><a href="#">珠圆玉润 送爱人 </a></div>
                            <div class="carbg">
                                <a href="#" class="ss">收藏</a>
                                <a href="#" class="j_car">加入购物车</a>
                            </div>
                        </li>
                    </ul>

                    <div class="pages">
                        <a href="#" class="p_pre">上一页</a>
                        <a href="#" class="cur">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <span>...</span>
                        <a href="#">20</a>
                        <a href="#" class="p_pre">下一页</a>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>
<!--网页底部-->
    <div class="footer">
        <div class="container">
            <p><a href="index">www.laofuzi.cn</a></p>
            <div class="copy">
                <p>Copyright &copy; 老夫子网上书城 2019-2029，All Rights Reserved</p>
            </div>
        </div>
    </div>
<script>
    var userid = window.localStorage.getItem('userid');
    var user = window.localStorage.getItem('user');
    var user1 = window.localStorage.getItem('user1');
    var categoryid = window.localStorage.getItem('categoryid');
    console.log("userid:",userid);
    // 判断顶部导航显示信息
    if(userid != undefined | userid != "" | userid != "null"){
        var infouser = "欢迎! &nbsp;<a href=\"#\" style=\"color:#ff4e00;\">"+ user +"</a>&nbsp;|&nbsp;\n" +
            "<a href=\"login\" style=\"color:#ff4e00;\">退出</a>";
        var quanxian = "<a href=\"index\">首页</a>&nbsp;&nbsp;&nbsp;|&nbsp;\n" +
            "<a href=\"order\">我的订单</a>&nbsp;&nbsp;|&nbsp;\n" +
            "<a class=\"car_t\" href=\"checkout\">&nbsp;&nbsp;购物车 </a>";
        quanxian += "<div class=\"last\">\n<div class=\"shop\">\n" +
            "<ul id=\"lfzcart\"></ul>\n<div class=\"buy\">\n" +
            "<p>合计 <span class=\"J_totalPrice\">￥300.8</span></p>\n" +
            "<a href=\"#\">立即结算 <span class=\"J_totalCount\">(3)</span></a>\n" +
            "</div>\n</div>\n</div>";
    }else if(user1 != undefined | user1 != "" | user1 != "null"){
        var infouser = "欢迎! &nbsp;<a href=\"#\" style=\"color:#ff4e00;\">"+ user1 +"</a>&nbsp;|&nbsp;\n" +
            "<a href=\"login\" style=\"color:#ff4e00;\">退出</a>";
        quanxian = "<a href=\"index\">首页</a>&nbsp;&nbsp;&nbsp;|&nbsp;\n" +
            "<a href=\"order\">我的订单</a>&nbsp;&nbsp;|&nbsp;\n" +
            "<a class=\"car_t\" href=\"checkout\">&nbsp;&nbsp;购物车 </a>";
        quanxian += "<div class=\"last\">\n<div class=\"shop\">\n" +
            "<ul id=\"lfzcart\"></ul>\n<div class=\"buy\">\n" +
            "<p>合计 <span class=\"J_totalPrice\">￥300.8</span></p>\n" +
            "<a href=\"#\">立即结算 <span class=\"J_totalCount\">(3)</span></a>\n" +
            "</div>\n</div>\n</div>";
    }else{
        infouser = "你好! 请&nbsp;<a href=\"login\" style=\"color:#ff4e00;\">登录</a>&nbsp;|&nbsp;\n" +
            "<a href=\"register\" style=\"color:#ff4e00;\">免费注册</a>";
        quanxian = "<a href=\"index\">首页</a>&nbsp;&nbsp;&nbsp;|&nbsp;\n" +
            "<a href=\"#\">我的订单</a>&nbsp;&nbsp;|&nbsp;\n" +
            "<a class=\"car_t\" href=\"#\">&nbsp;&nbsp;购物车 </a>";
    }
    $("#userinfo").append(infouser);
    $("#quanxian").append(quanxian);
    //搜索功能
    function search() {
        var keywords = document.getElementById("search").value;
        $.ajax({
            url: "/laofuzi/book/findByCondition",
            type: "POST",
            dataType:"json",
            contentType : 'application/json',
            data: JSON.stringify({"name":keywords}),
            async: false,
            success: function(result){
                console.log(result);
                window.localStorage.setItem('bookid',result[0].id);
                window.location.href= "single";
            }
        });
    }
    //显示登录用户的购物车信息
    $.ajax({
        url: "/laofuzi/cart/findByUserId",
        type: "POST",
        dataType:"json",
        contentType : 'application/json',
        data: JSON.stringify({"userId":userid}),
        async: false,
        success: function(result){
            console.log(result);
            console.log(result[0].img);
            if(result.length <= 0){
                var cartpro = "<li class=\"noshop\">\n" +
                    "<img src=\"/laofuzi/images/icon_tips2.png\" alt=\"\" />\n" +
                    "<h3>你的购物车还是空的</h3>\n</li>";
                $("#lfzcart").append(cartpro);
            }
            for(var i=0 ; i < result.length; i++ ){
                var cartpro = "<li>\n<h4>老夫子 <span class=\"J_count\">共1件商品</span></h4>\n" +
                    "<div class=\"clear\">\n<div class=\"shopImg\">";
                cartpro +=  "<img src=\""+ result[i].img +"\" alt=\"\" />\n</div>\n" +
                    "<div class=\"shopText\">\n<div class=\"clear\">";
                cartpro += "<h5>"+ result[i].name +"</h5>\n" +
                    "<a href=\"#\" class=\"close J_btnDelete\">X</a>\n" +
                    "</div>\n<div class=\"clear\">\n<div class=\"plush\">\n" +
                    "<span class=\"J_btnDelCount\">-</span>\n" +
                    "<input class=\"J_inputCount\" type=\"text\" value=\""+ result[i].number +"\" />\n" +
                    "<span class=\"J_btnAddCount\">+</span>\n</div>\n" +
                    "<strong class=\"J_smallTotalPrice\">"+ result[i].unitprice +"</strong>\n" +
                    "</div>\n</div>\n</div>\n</li>";
                $("#lfzcart").append(cartpro);
            }
        }
    });

    $.ajax({
        url: "/laofuzi/book/findByCategoryId",
        type: "POST",
        dataType:"json",
        contentType : 'application/json',
        data: JSON.stringify({"categoryId":categoryid}),
        async: false,
        success: function(result){
            console.log(result);
            for(var i=0; i < result.length; i++){
                var cats = "<li>\n<div class=\"img\"><a href=\"#\">"+
                    "<img src=\""+result[i].img+"\"/></a></div>\n" +
                    "<div class=\"price\">\n<span>￥"+ result[i].unitprice +"</span>\n" +
                    "</div>\n<div class=\"name\"><a href=\"#\">"+result[i].name+"</a></div>\n" +
                    "<div class=\"carbg\">\n" +
                    "<a href=\"#\" class=\"j_car\">加入购物车</a>\n" +
                    "</div>\n</li>";
                $("#catsbook").append(cats);
            }
        }
    });
</script>
<script src="/laofuzi/js/jquery-1.11.1.min.js"></script>
<script src="/laofuzi/js/CategoryList.js"></script>
<script src="/laofuzi/js/public.js"></script>

</body>
</html>
