<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>老夫子</title>
</head>
<body>
    <nav>
        <a href="">个人中心</a>
        <a href="">退出</a>
        <a href="">首页</a>
        <a href="">购物车</a>
        <a href="">我的订单</a>
    </nav>
    <section>
        <div id="left">

        </div>
        <div id="center">

        </div>
    </section>
    <footer>

    </footer>
    <!--<script>-->
        <!--var div = document.getElementById("left");-->
        <!--var str = "<div>nihao</div>";-->
        <!--div.append("str");-->
    <!--</script>-->
</body>
</html>