<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/laofuzi/css/login.css">
    <title>登录</title>
</head>
<body>
    <div id="loginform">
        <div id="form">
            <div class="text">
                用&nbsp;&nbsp;户&nbsp;&nbsp;名：<input id="user" type="text" name="user" placeholder="请填写用户名">
            </div>
            <div class="text">
                密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码：<input id="password" type="password" name="password" placeholder="请填写密码">
            </div>
            <div id="radio">
                <input type="radio" name="usertype" value="0" checked>普通用户
                <input type="radio" name="usertype" value="1">客服
                <input type="radio" name="usertype" value="2">管理员
            </div>
            <div class="btn">
                <button id="login" type="submit">登录</button>
            </div>
            <div class="linkaa">
                <a class="link" href="register.html">注册</a>
                <a class="" href="">忘记密码？</a>
            </div>
        </div>
    </div>

</body>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript" >
    var btn = document.getElementById("login");
    var usertype = document.getElementsByName("usertype");


    btn.addEventListener("click",function(){
        var username = document.getElementById("user").value;
        var password = document.getElementById("password").value;
        var str =
        $.ajax({
            url: "/laofuzi/user/login",
            type: "POST",
            dataType:"json",
            contentType : 'application/json',
            data: JSON.stringify({"username":username,
                "password":password}),
            async: false,
            success: function(result){
                var userinfo = JSON.stringify(result);

                console.log(result);
                console.log(result);
                // $("input[name='extendDataFormInfo.value(fd_shengyu_nianjia)']").val(annualDays);
                // $("input[name='extendDataFormInfo.value(fd_ruzhi_date)']").val(entryDate);

            }
        });
    })
</script>
</html>